---
layout: default
---

{{ content }}

<h3 style="margin: 10px 0px 0px 0px;">Email Me</h3>

<form action="https://formspree.io/mcpherson.devin.us@gmail.com"
      method="POST" class="form-list">
    <div>
        <input type="text" name="name" placeholder="Your Name">
    </div>
    <div>
        <input type="email" name="_replyto" placeholder="Your Email">
    </div>
    <div>
        <textarea name="message" placeholder="Type message here..."></textarea>
    </div>
    <button type="submit">Send</button>
</form>